.movies-slider-container .carousel-item {
  max-height: 600px;
  overflow: hidden; }
  .movies-slider-container .carousel-item a {
    color: #fff; }

.movies-slider-container img {
  display: block;
  width: 100%; }
