p {
    font-family: Lato;
  }
  .error-message {
    color: orange;
  }
  input.ng-touched.ng-invalid {
    border: 1px solid orange;
  }
  .cc[_ngcontent-yox-c2] {
    color: white;
    background-color: #f17b22 !important;
    /* height: 39px; */
}