<div class="uk-container uk-light uk-padding-large">
  <div class="uk-margin-small-top uk-margin-medium-bottom uk-width-expand@m">
    <div class="uk-container uk-margin-medium">
      <h1 class="uk-margin-bottom uk-margin-top uk-margin-medium-bottom  uk-text-center Artify-pageTitle">À propos de nous</h1>
     
      <p>
       
        
      <!--<img src="assets/images/logo4.png" alt="Logo soiréeCinéma " width="70" height="70">--> <span style="color: orange;">Soirée Cinéma</span>
      &nbsp;est le premier site de streaming légal spécialisé dans le cinéma tunisien, opérant dans la légalité et le respect des droits d'auteur.
      La plateforme contient le plus grand catalogue de productions tunisiennes entre les nouveautés et les classiques à travers un large choix, disponibles en Haute-Définition. 
      </p>
      <h3 class="uk-text-uppercase">1. Vision</h3>
      <p>Notre plateforme permet aux cinéphiles de retrouver les films populaires, tout en prenant soin de donner l'importance aux oeuvres documentant les événements historiques 
        de la tunisie tels que la révolution, la colonisation, ... </p>
      <p>Ceci donne une chance aux oeuvres moins connues au public d'être exposées et commémorées dans le catalogue de soiréeCinéma.</p>
      <h3 class="uk-text-uppercase">2. Regarder nos films partout</h3>
      <p>
        SoiréeCinéma vous offre un design mobile-friendly qui vous permet de regarder vos films à l'aise sur smartphone ou sur pc. Une application smartTV est en développement ainsi qu'une application 
        mobile qui sera publiée plus tard cette année.
      </p>
      
      <p>
      </p>
      <h3 class="uk-text-uppercase">3. Multitude de langues disponible</h3>
      <p>
       Vous pourrez aussi choisir la langue du site qui vous convient parmi l'anglais, le français et l'arabe.
      </p>
      
    </div>
  </div>
</div>